@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tomleg') format('truetype'),
    url('../fonts/icomoon.woff?tomleg') format('woff'),
    url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}
/*快捷导航模块*/
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

/*设置左右浮动*/
.fl {
    float:left;
}

.fr {
    float:right;
}

.shortcut ul li{
    float: left;
}

.style-red{
    color: #C81623;
}

/*选择右浮动所有的偶数li 设置这些竖线的样式*/
.shortcut .fr ul li:nth-child(even) {
    margin: 9px 15px 0;
    background-color: #666;
    width: 1px;
    height: 12px;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 6px;
}

.header{
    position: relative;
    height: 150px;
}

.logo{
    position: absolute;
    top:35px;
    height: 61px;
    width: 171px;
}

.logo a {
    /*设置a为块级元素 (同div)*/
    display: block;
    height: 61px;
    width: 171px;
    font-size: 0;
    background: url(../image/logo.png) no-repeat;
}

.search {
    position: absolute;
    top:45px;
    left: 550px;
    height: 36px;
    width: 538px;
    border: 2px solid red;
}

.search input{
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button{
    width: 80px;
    height: 32px;
    float: right;
    background-color: red;
    font-size: 16px;
    color: white;
}

.goodsarea {
    height: 700px;
    border:1px solid #CCCCCC;
    margin-top: 20px;
}

.goodsarea h3 {
    height: 42px;
    border-bottom: 1px solid #cccccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.empty {
    width: 800px;
    height: 300px;
    margin: auto;
    margin-top: 150px;
    margin-left: 400px;
}

.goods1 {
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
}

.i1 {
    float: left;
}

.i1 img {
    width: 350px;
    height: 350px;
    margin-top: 50px;
}

.txt {
    margin-left: 80px;
    margin-top: 40px;
    float: left;
}

.for table tr{
    display: block;
    margin-top: 30px;
}

.zi{
    font-size: 40px;
}

.zz{
    font-size: 30px;
}

.ss {
    width: 150px;
    height: 39px;
    background-color: #c81623;
    color: white;
    margin-left: 30px;
}

.rr {
    width: 150px;
    height: 39px;
    background-color: #c81623;
    color: white;
    margin-left: 70px;
}

.num {
    width: 240px;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    border-bottom: 1px solid rgb(192,192,192);
}
